<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hello, Flask</title>
    </head>
    <body>

        <input type="text" placeholder="Type your name here" id="text" />
        <button id="submit">Submit</button>
        <div id="chatbox"></div>
        
        
        <script>
            document.getElementById("submit").onclick = function() {
                const query = document.getElementById("text").value;
                const chatBox = document.getElementById("chatbox");
                chatBox.innerHTML += `<p class="user"><b>You:</b> ${query}</p>`;
                
                fetch("/bot?query=" + encodeURIComponent(query), {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                    }
                })

                .then(response => response.json())
                .then(data => {
                    chatBox.innerHTML += `<div class="user-message">${data.reply}</div>`;
                    chatBox.scrollTop = chatBox.scrollHeight; // auto-scroll
                })
            };
        </script>

        
    </body>
</html>
